{{- range $name, $component := .Values.components }}
{{- if and $component.enabled $component.service.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "app-template.componentFullname" (list $ $name) }}
  labels:
    {{- include "app-template.commonLabels" $ | nindent 4 }}
    app.kubernetes.io/component: {{ $name }}
    {{- with $.Values.global.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with $component.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with $component.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ $component.service.type | default "ClusterIP" }}
  ports:
    {{- toYaml $component.service.ports | nindent 4 }}
  selector:
    {{- include "app-template.selectorLabels" (list $ $name) | nindent 4 }}
{{- end }}
{{- end }}
